body{
    background-color: burlywood;
}
.weaooer{
    margin: 30px auto auto 30px;

}
.red{
    color: red
}
.image{
    margin-top: 30px;
}
.title{
   color width;
   font-size: 30px;
}
.par{
    margin-top: 30px;
}  


